.background_groupe {
  float: right;
}

.image_contact {
  width: 1100px;

  margin-top: 150px;
}

.card {
  background: linear-gradient(
    180deg,
    rgba(181, 62, 62, 0.8) 0%,
    rgba(140, 42, 42, 0) 100%
  );
  border-radius: 1%;
  width: 1100px;
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  box-shadow: 0px 8px 9px 0px rgba(0, 0, 0, 0.06),
    0px 20px 26px 0px rgba(0, 0, 0, 0.05);
  backdrop-filter: blur(15px);
  position: absolute;
  top: 50%;
  left: 30%;
  transform: translate(-50%, -50%);
}

.red_title {
  color: red;
  text-align: center;
  margin-top: 20px;
}

.text_contact {
  color: #ffffff;
  text-align: center;
  font: 400 16px/26px "Open Sans", sans-serif;
  position: relative;
  width: 684px;
  height: 52px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.input-label {
  display: block;
  font-size: 20px;
  margin-bottom: 5px;
  color: rgb(255, 255, 255);
  text-align: left;
}

.input-text {
  font-size: 14px;
  color: red;
  margin-right: 5px;
}

.input-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 90%;
  margin: 20px auto;
}

.left-input,
.right-input {
  background: linear-gradient(
    180deg,
    rgba(201, 44, 44, 1) 0%,
    rgba(0, 0, 0, 1) 100%
  );
  border-radius: 10px;
  width: 326px;
  height: 40px;
  position: relative;
  box-shadow: var(
    --innershadow-2-box-shadow,
    inset -5px -5px 10px 0px rgba(255, 255, 255, 1),
    inset 5px 5px 10px 0px rgba(170, 170, 204, 0.5),
    inset 2px 2px 4px 0px rgba(170, 170, 204, 0.25),
    inset -2px -2px 4px 0px rgba(255, 255, 255, 0.5)
  );
}

.input,
.input * {
  box-sizing: border-box;
}
.input {
  background: linear-gradient(
    180deg,
    rgba(201, 44, 44, 1) 0%,
    rgba(144, 58, 58, 0) 100%
  );
  border-radius: 15px;
  width: 656px;
  height: 141px;
  position: relative;
  box-shadow: var(
    --innershadow-2-box-shadow,
    inset -5px -5px 10px 0px rgba(255, 255, 255, 1),
    inset 5px 5px 10px 0px rgba(170, 170, 204, 0.5),
    inset 2px 2px 4px 0px rgba(170, 170, 204, 0.25),
    inset -2px -2px 4px 0px rgba(255, 255, 255, 0.5)
  );
  overflow: hidden;
}
.i-want-to-say-that {
  color: #ffffff;
  text-align: left;
  font: 400 16px/7px "Open Sans", sans-serif;
  position: absolute;
  right: 61px;
  left: 35px;
  top: calc(50% - 54.5px);
  height: 18px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}
