/* première parti */

.group-1,
.group-1 * {
  box-sizing: border-box;
}
.group-1 {
  position: absolute;
  inset: 0;
}
.group-2 {
  width: 1332px;
  height: 349px;
  position: static;
}
.photo-1 {
  border-radius: 16px;
  width: 598px;
  height: 327px;
  position: absolute;
  left: 842px;
  top: 815px;
}
.photo-2 {
  background: linear-gradient(
    116.9deg,
    rgba(235, 63, 87, 0.4) 0%,
    rgba(23, 10, 101, 0.4) 100%
  );
  border-radius: 0px 324.5px 0px 324.5px;
  width: 594.29px;
  height: 327px;
  position: absolute;
  left: 3.71px;
  top: 0px;
}
.titre-dec {
  color: var(--indium-technology-red, #eb3f57);
  text-align: left;
  font: 700 36px "Open Sans", sans-serif;
  text-transform: uppercase;
  position: absolute;
  left: 194px;
  top: 793px;
  width: 464.05px;
  height: 44.77px;
}
.text-dec {
  color: #ffffff;
  text-align: left;
  font: 400 21px "Open Sans", sans-serif;
  position: absolute;
  left: 108px;
  top: 908px;
  width: 637px;
}

/* fin première partit */

/* deuxième partie */

.group-22,
.group-22 * {
  box-sizing: border-box;
}
.group-22 {
  position: absolute;
  inset: 0;
}
.dec-2 {
  background: linear-gradient(
    108.25deg,
    rgba(235, 63, 87, 0.5) 0%,
    rgba(21, 9, 68, 0.5) 59.89583134651184%
  );
  border-radius: 302px 0px 302px 0px;
  width: 598px;
  height: 327px;
  position: absolute;
  left: 0px;
  top: 1376px;
}
.titre-dec2 {
  color: var(--indium-technology-red, #eb3f57);
  text-align: left;
  font: 700 36px "Open Sans", sans-serif;
  text-transform: uppercase;
  position: absolute;
  left: 803px;
  top: 1354px;
  width: 464.05px;
  height: 44.26px;
}
.text-dec2 {
  color: #ffffff;
  text-align: left;
  font: 400 21px "Open Sans", sans-serif;
  position: absolute;
  left: 716px;
  top: 1477px;
  width: 637px;
}

/* troisième partit */

.group-23,
.group-23 * {
  box-sizing: border-box;
}
.group-23 {
  position: absolute;
  inset: 0;
}
.photo-4 {
  border-radius: 16px;
  width: 598px;
  height: 327px;
  position: absolute;
  left: 846px;
  top: 1978px;
}
.photo-5 {
  background: linear-gradient(
    116.9deg,
    rgba(235, 63, 87, 0.4) 0%,
    rgba(23, 10, 101, 0.4) 100%
  );
  border-radius: 0px 324.5px 0px 324.5px;
  width: 594.29px;
  height: 327px;
  position: absolute;
  left: 3.71px;
  top: 0px;
}
.titre-dec3 {
  color: var(--indium-technology-red, #eb3f57);
  text-align: left;
  font: 700 36px "Open Sans", sans-serif;
  text-transform: uppercase;
  position: absolute;
  left: 190px;
  top: 1956px;
  width: 464.05px;
  height: 44.26px;
}
.text-dec3 {
  color: #ffffff;
  text-align: left;
  font: 400 21px "Open Sans", sans-serif;
  position: absolute;
  left: 113px;
  top: 2072px;
  width: 637px;
}

.logo-container{
  margin-top: 500px;
}










