/* première est troisième partie */


.group-1 {
    display: flex; 
    align-items: center; 
    justify-content: space-between; 
    margin-bottom: 150px;
  }
  
.text-first h3 {
    flex: 1; 
    padding: 20px; 
    box-sizing: border-box; 
    color: var(--indium-technology-red, #EB3F57);
    font-family: Open Sans;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
  }

.text-first {
    color: #FFF;
    font-family: Open Sans;
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-left: 200px;
  }
 
  
.photo-1 {
    flex: 1; 
    max-width: 40%;
    margin-top: 150px; 
    
  }
  


/* deuxième partie */

  .group-2 {
    display: flex; 
    align-items: center; 
    justify-content: space-between; 
    margin-bottom: 150px;
  }
  
.text-second h3 {
    flex: 1; 
    padding: 20px; 
    box-sizing: border-box; 
    color: var(--indium-technology-red, #EB3F57);
    font-family: Open Sans;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
  }

.text-second {
    color: #FFF;
    font-family: Open Sans;
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-right: 200px;

  }

 
  
.photo-2 {
    flex: 1; 
    max-width: 40%;
    margin-top: 150px; 
    
  }

/* vitality box */

.rectangle {
    background: linear-gradient(
      180deg,
      rgba(123, 27, 50, 1) 0%,
      rgba(123, 27, 50, 0) 100%
    );
    border-radius: 16px;
    width: 388px;
    height: 404px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(15px);
    margin-bottom: 300px;
  }


.box-team {
    display: flex;
    justify-content: center;
    gap: 20px;


}

.team-box {
  width: 400px;
  text-align: center;
  padding: 20px;
  text-align: center;
}

.team-name h4 {
  color: #ffffff;
  text-align: center;
  font: 700 27px "Open Sans", sans-serif;
  margin-bottom: 15px;
} 





.photo-vi img {
  width: 173px;
  height: 173px;
  
  
}

.photo-fn img {
  width: 173px;
  height: 173px;
  
}


.photo-in img {
  width: 173px;
  height: 173px;

}

