body {
  background-color: black;
  color: var(--text-color);
  margin: 0;
  padding: 0;
  position: relative;
  min-height: 100vh;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  /* reset */
  padding: 0;
  margin: 0;

  color: var(--text-color);
}

nav {
  justify-self: end;
}

a {
  color: white;
  text-decoration: none;
  transition: opacity 0.4s;
}

a:hover {
  opacity: 0.6;
}

.menu1 {
  background-color: black;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 60px;
  border: 2px solid black;
  position: fixed;
  width: 100%; /* Largeur totale de la page */
  z-index: 1;
}

/* Style pour le menu */
.menu {
  background-color: black;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 60px;
  border: 2px solid black;
  position: fixed;
  width: 100%; /* Largeur totale de la page */
  z-index: 1;
}

.left-menu img.logo {
  width: 200px;
  margin-left: 50px;
}

.left2-menu img.logo {
  width: 150px;
  margin-left: 10px;
  margin-top: 20px;
}

.right-menu a {
  text-decoration: none;
  color: white;
  margin: 20px;
  font-size: large;
  font-family: Arial, Helvetica, sans-serif, sans-serif;
}

.image-container {
  display: flex;
  width: 100%;
  height: 100vh;
  align-items: center;
  justify-content: center;
}

.titre {
  color: white;
  position: absolute;
  top: 30%;
  left: 20px;
  text-align: left;
  font-size: 36px;
  margin-left: 100px;
  font-family: Arial, Helvetica, sans-serif;
}

.titre p {
  font-size: 80%;
}

.titre h1,
.titre p,
.titre button {
  margin-bottom: 60px;
}

.image {
  width: 100%;
  height: 100vh;
  filter: brightness(90%);
  object-fit: cover;
}

.image-container button {
  width: 222px;
  height: 68px;
  flex-shrink: 0;
  border-radius: 20px;
  border: 0.5px solid #7a3e3e;
  background: #c60030;
  box-shadow: -6px -6px 12px 0px rgba(35, 0, 0, 0.55) inset,
    6px 6px 8px 0px #9b1f1f inset;
  cursor: pointer;
  transition: opacity 0.5s;
  font-size: large;
}

@media (max-width: 600px) {
  .titre {
    font-size: 24px; /* Réduire la taille de la police pour les petits écrans */
    left: 10px; /* Ajuster la position */
    margin-left: 20px; /* Ajuster la marge gauche */
  }

  .titre h1,
  .titre p,
  .titre button {
    margin-bottom: 30px; /* Réduire la marge en bas */
  }

  .image-container button {
    width: 180px; /* Réduire la largeur du bouton */
    height: 56px; /* Réduire la hauteur du bouton */
    font-size: medium; /* Réduire la taille de la police du bouton */
  }
}

@media screen and (max-width: 899px) and (min-height: 926px) {
  .menu1 {
    display: none;
  }
}
